html{
    scroll-behavior: smooth;
}

body{
    background: #eaeaea; 
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .home-content {
    padding: 2rem;
    font-size: 1.5rem;
  }
